/* FONTS
font-family: 'Roboto', sans-serif;
*/

body {
    background-color: lightgray;
    width: 100%;
}

nav {
    height: 12vh;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-top: .5%;
}

.container {
    height: 100vh;
    margin-top: 3vh;
    width: 80vw;
}

.listContainer {
    background: 3px white;
    opacity: 0.5;
    height: 20vh;
    width: 78vw;
}

.collapsible {
    display: none;
}

img {
    height: 2%;
}

.texto {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}